<sections class="insp">
  <div class="container">
    <h2 class="section-title section-title--center">Inspirations</h2>
    <p class="insp__descr">
      The state of Utah in the United States is home to lots of beautiful National Parks, & Bryce Canyon National Park
      ranks as three of the most magnificent & awe inspiring.
    </p>

    <ul class="grid insp__list list-reset">
      <li class="insp__item insp__item--big insp__item--1"></li>
      <li class="insp__item insp__item--2"></li>
      <li class="insp__item insp__item--bighight insp__item--3"></li>
      <li class="insp__item insp__item--bighight insp__item--4"></li>
      <li class="insp__item insp__item--bighight insp__item--5"></li>
      <li class="insp__item insp__item--6">6</li>
      <li class="insp__item insp__item--big insp__item--7">7</li>
    </ul>


  </div>
</sections>
