<div class="menu">
  <button class="menu__close btn-reset" aria-label="close menu">
    <span class="menu__close-line"></span>
    <span class="menu__close-line"></span>
  </button>
  <menu class="menu__nav">
    <ul class="menu__list list-reset">
      <li class="menu__item"><a class="menu__link " href="#">Become Travel</a></li>
      <li class="menu__item"><a class="menu__link " href="#">Featured Stories</a></li>
      <li class="menu__item"><a class="menu__link " href="#">Featured Videos</a></li>
      <li class="menu__item"><a class="menu__link " href="#">Newsletter</a></li>
      <li class="menu__item"><a class="menu__link " href="#">Inspiration</a></li>
      <li class="menu__item"><a class="menu__link " href="#">Contacts</a></li>
    </ul>
  </menu>
</div>
