<section class="newsletter">
  <div class="container">
    <div class="newsletter-content">
      <div class="newsletter__text">
        <h2 class="newsletter__title section-title">Sign Up Our Newsletter</h2>
        <p class="newsletter__descr">
          The state of Utah in the United States is home to lots of beautiful National Parks, & Bryce Canyon National
          Park
          ranks as three of the most magnificent.
        </p>
      </div>
      <form action="/" class="newsletter__form subscribe-form">
        <input type="text" name="name" placeholder="Name" class="subscribe-form__field">
        <input type="email" name="email" placeholder="Email" class="subscribe-form__field">
        <input type="tel" name="tel" placeholder="Phone Number" class="subscribe-form__field">
        <button class="btn btn-reset subscribe-form__btn">Sign up Now</button>
      </form>
    </div>
  </div>
</section>
