// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "SFProdisplay", sans-serif;
  --content-width: 1626px;
  --container-offset: 30px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --white-color: #fff;
  --black-color: #000;
  --dark-color: #1c2e3d;
  --accent-color: #e8594e;
  --neptune-color: #73afba;
  --accent-hover-color: #e31d0e;
  --neptune-hover-color: #4196a6;
}
